.scroll-Top {
  z-index: 10;
  padding: 3px;
  border-radius: 8px;
  position: fixed;
  background-color: var(--main-color);
  bottom: 40px;
  right: 40px;
  opacity: 0;
  transition: 0.5s;
}

.scroll-Top:hover {
  background: var(--main-color);
  filter: hue-rotate(-70deg);
}

.scroll-Top.visible {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .scroll-Top {
    bottom: 100px;
    right: 35px;
  }
}
