.swiper {
  width: 323px;
  height: 404px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: #ff7598 !important;
}

@media screen and (max-width: 598px) {
  .swiper {
    width: 250px;
    height: 300px;
  }
}

@media screen and (max-width: 450px) {
  .swiper {
    width: 195px;
    height: 274px;
    padding: 10px !important;
    margin: 0px auto !important;
  }
}
