.about-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-card .col-1 {
  width: 30%;
  overflow: hidden;
  box-shadow: #0b220d92 -1px 1px 1px 8px;
}

.about-card .col-1 img {
  width: 100%;
  transform: scale(1.7);
  background-size: cover;
}

.about-card .col-2 {
  width: 50%;
  padding: 0 10px;
}

.about-card .col-2 h1 {
  display: inline-block;
  position: relative;
}

.about-card .col-2 h1::after {
  position: absolute;
  content: "";
  height: 11px;
  width: 80%;
  left: 0%;
  bottom: 10%;
  background-color: #0b220d92;
  transform: rotate(2deg);
}

.about-card .col-2 p a {
  color: rgb(52 78 65);
}

/* media quires */
@media screen and (max-width: 773px) {
  .about-card {
    flex-direction: column;
    gap: 50px;
  }

  .about-card .col-2 {
    text-align: center;
    width: 100%;
  }
  .about-card .col-2 h1 {
    text-align: center;
  }

  .about-card .col-2 > div:first-child {
    text-align: center;
  }

  .about-card .col-2 {
    padding: 20px;
  }
}

@media screen and (max-width: 530px) {
  #about {
    margin-top: 300px;
  }
}
