.about .title {
  color: var(--second-color);
}

.about-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-card .col-1 {
  cursor: pointer;
  position: relative;
  width: 30%;
  border-radius: 10%;
  box-shadow: var(--main-color) 0px 0px 1px 8px;
  transition: all 0.6s ease-in-out;
}

.about-card .col-1::before {
  border-radius: 10%;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  z-index: -2;
  filter: hue-rotate(-90deg);
  transition: all 0.6s ease-in-out;
}

.about-card .col-1::after {
  top: 0;
  right: 0;
  border-radius: 10%;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  filter: hue-rotate(-60deg);
  z-index: -2;
  transition: all 0.6s ease-in-out;
}

.about-card .col-1:hover::after {
  transform: rotate(-10deg);
}

.about-card .col-1:hover::before {
  transform: rotate(10deg);
}

.about-card .col-1 img {
  width: 100%;
  border-radius: 10%;
  background-size: cover;
  filter: grayscale(10);
}

.about-card .col-1 img:hover {
  filter: none;
}

.about-card .col-2 {
  width: 50%;
  padding: 0 10px;
}

.about-card .col-2 h1 {
  display: inline-block;
  position: relative;
}

.about-card .col-2 h1::after {
  position: absolute;
  content: "";
  height: 11px;
  width: 80%;
  left: 0%;
  bottom: 10%;
  z-index: -1;
  background-color: var(--second-color);
  transform: rotate(2deg);
}

.about-card .col-2 p {
  text-align: justify;
  color: rgb(70, 70, 70);
}

.about-card .col-2 p a {
  color: #699ba3;
}

/* media quires */
@media screen and (max-width: 773px) {
  .about-card {
    flex-direction: column;
    gap: 50px;
  }

  .about-card .col-2 {
    text-align: center;
    width: 100%;
  }
  .about-card .col-2 h1 {
    text-align: center;
  }

  .about-card .col-2 > div:first-child {
    text-align: center;
  }

  .about-card .col-2 {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about-card .col-1 {
    box-shadow: var(--main-color) 0px 0px 1px 4px !important;
  }
}

@media screen and (max-width: 530px) {
  #about {
    margin-top: 300px;
  }
}

@media screen and (max-width: 425px) {
  .about-card .col-1 {
    box-shadow: none !important;
    outline: 2px solid var(--main-color);
  }
}
