input {
  background-color: rgb(244, 239, 239);
  padding: 20px;
  border: 2px solid #a3b18a;
  border-radius: 15px;
  outline: none;
}

.btn {
  background-color: #a3b18a !important;
  padding: 20px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  flex: 1 0 60px;
}

.c-name {
  flex: 1 0 140px;
}

.c-email,
.c-message {
  flex: 1 0 190px;
}

.btn:hover {
  background-color: #78806b !important;
}

.toast-message {
  background: #78806b !important;
  color: #fff !important;
  font-size: 20px;
  padding: 30px 20px;
  border-top: 3px solid #435527;
  border-right: 3px solid #435527;
  border-left: 3px solid #435527;
}

.toast-error-message {
  background: #ca4834 !important;
  width: 400px !important;
  color: #fff !important;
  font-size: 20px;
  padding: 30px 20px;
  border-top: 3px solid #d94129;
  border-right: 3px solid #d94129;
  border-left: 3px solid #d94129;
}
