input {
  background-color: rgb(244, 239, 239);
  padding: 20px;
  border: 2px solid #ff7598;
  border-radius: 15px;
  outline: none;
}

.c-btn {
  background-color: #ff7598 !important;
  padding: 20px;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  flex: 1 0 60px;
}

.c-name {
  flex: 1 0 350px;
}

.c-phone {
  flex: 1 0 90px;
}

.c-email {
  flex: 1 0 350px;
}
.c-message {
  flex: 1 0 300px;
}

.c-phone {
  -moz-appearance: textfield;
}

.c-phone::-webkit-outer-spin-button,
.c-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.c-btn:hover {
  background-color: #874052 !important;
}

.toast-message {
  background: #ff7598 !important;
  color: #fff !important;
  font-size: 20px;
  padding: 30px 20px;
}

.toast-error-message {
  background: #ca4834 !important;
  width: 400px !important;
  color: #fff !important;
  font-size: 20px;
  padding: 30px 20px;
}

@media screen and (max-width: 374px) {
  .c-name,
  .c-email,
  .c-message,
  .c-phone {
    flex: 1 0 60px;
  }
}
