.header {
  padding: 0.59rem 2rem;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-list {
  display: flex;
  gap: 10px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.57rem;
  color: #ff7598;
}

.active,
.nav-link:hover {
  color: #75d1f0;
}

.app,
.close,
.nav-icon {
  display: none;
}

.app,
.logo {
  font-size: 25px !important;
}

.logo {
  display: inline-block;
  font-size: 25px !important;
  height: 100%;
  color: #ff7598;
}

.app:hover,
.close:hover {
  background-color: rgb(140, 142, 140);
  color: white !important;
  border-radius: 10%;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0.59rem 2rem;
    top: initial;
    bottom: 16px;
    border-radius: 3.5rem;
  }
  .app,
  .close,
  .nav-icon {
    display: block;
  }

  .nav-menus {
    position: fixed;
    bottom: -16px;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem 4rem;
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .close {
    position: absolute;
    bottom: 0.5rem;
    right: 1.5rem;
  }

  .show-menu {
    bottom: -360px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 0.59rem 2rem;
  }
}

@media screen and (max-width: 375px) {
  .nav-link {
    gap: 0;
  }
}

@media screen and (max-width: 300px) {
  .nav-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
