@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
  }
  html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background: #ffffff;
  }
  ::selection {
    user-select: none;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

:root {
  --main-color: #ff7598;
  --second-color: #75d1f0;
  --text-color: #fff;
  --color-h: 207;
  --color-s: 73%;
  --color-l: 57%;
}

[data-theme="dark"] {
  --main-color: #3f3267;
  --second-color: #86b9f4;
  --text-color: #a8a1ba;
}
